@using System.Diagnostics.CodeAnalysis
@inherits NotifyableInputBase<byte>

<div>
    <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression" />
    <InputByte id="@this.FieldIdentifier.FieldName" @bind-Value="@CurrentValue" Min="@Min" Max="@(Max ?? byte.MaxValue)"/>
    <ValidationMessage For=@this.ValueExpression />
</div>

@code {

    /// <summary>
    /// Lấy hoặc thiết lập nhãn.
    /// </summary>
    [Parameter]
    public string? Label { get; set; }

    /// <summary>
    /// Lấy hoặc thiết lập giá trị tối thiểu.
    /// </summary>
    [Parameter]
    public byte Min { get; set; } = byte.MinValue;

    /// <summary>
    /// Lấy hoặc thiết lập giá trị tối đa.
    /// </summary>
    [Parameter]
    public byte? Max { get; set; }

    /// <inheritdoc />
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out byte result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}