@using MUnique.OpenMU.Persistence
@using MUnique.OpenMU.DataModel.Entities
@using MUnique.OpenMU.Web.AdminPanel.Components.ItemEdit

@typeparam TItem


@if (typeof(TItem) == typeof(Item))
{
    var item = (Item)(object)this.Item!;

    <CascadingValue Value="@this.PersistenceContext">
        <ItemEdit Item="@item" OnCancel="@this.CancelAsync" OnValidSubmit="@this.SubmitAsync" />
    </CascadingValue>
}
else
{
    <EditForm Model="@Item">
        <CascadingValue Value="@this.PersistenceContext">
            <DataAnnotationsValidator/>
            <CreationAutoFields/>
            <ValidationSummary/>
        </CascadingValue>
        <button type="submit" @onclick="@SubmitAsync" class="primary-button">Gửi</button>
        <button type="button" @onclick="@CancelAsync" class="cancel-button">Hủy</button>
    </EditForm>
}

@code {

    /// <summary>
    /// Lấy hoặc thiết lập thể hiện modal.
    /// </summary>
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = null!;

    /// <summary>
    /// Lấy hoặc thiết lập mục cần được tạo.
    /// </summary>
    [Parameter]
    public TItem Item { get; set; } = default!;

    /// <summary>
    /// Lấy hoặc thiết lập ngữ cảnh lưu trữ sẽ được sử dụng. Nó cần thiết cho việc tra cứu.
    /// </summary>
    [Parameter]
    public IContext PersistenceContext { get; set; } = null!;

    private Task SubmitAsync()
    {
        return this.BlazoredModal.CloseAsync(ModalResult.Ok(Item));
    }

    private Task CancelAsync()
    {
        return this.BlazoredModal.CancelAsync();
    }
}
