@page "/plugins"
@using MUnique.OpenMU.Web.AdminPanel.Models;
@using MUnique.OpenMU.Web.AdminPanel.Services

@inject PlugInController _plugInController;

<h1>Plugin</h1>

<div>
    <DataTable TItem=@PlugInConfigurationViewItem>
        <TableHeader>
            <th class="col-1">Điểm mở rộng</th>
            <th class="col-1">Tên plugin</th>
            <th class="col-1">Loại plugin</th>
            <th class="col-1">Hành động</th>
        </TableHeader>
        <FilterHeader>
            <th><PlugInExtensionPointSelection SelectedPointId="@this._plugInController.PointFilter" ExtensionPoints="@this._plugInController.ExtensionPoints" OnSelectionChanged="@this.OnPlugInPointSelected" /></th>
            <th><input type="search" placeholder="Tìm kiếm" @bind="@this._plugInController.NameFilter" @bind:event="oninput"/></th>
            <th><input type="search" placeholder="Tìm kiếm" @bind="@this._plugInController.TypeFilter" @bind:event="oninput"/></th>
            <th></th>
        </FilterHeader>
        <ItemTemplate Context="item">
            <td title=@item.PlugInPointDescription>@item.PlugInPointName</td>
            <td title=@item.PlugInDescription>
                <MarkedText Marked=@this._plugInController.NameFilter Text=@item.PlugInName />
            </td>
            <td title=@item.TypeId>
                <MarkedText Marked=@this._plugInController.TypeFilter Text=@item.TypeName />
            </td>
            <td>
                @if (item.IsActive)
                {
                    <Button class="btn-warning" @onclick="async () => await this._plugInController.DeactivateAsync(item)">Vô hiệu hóa</Button>
                }
                else
                {
                    <Button class="btn-success" @onclick="async () => await this._plugInController.ActivateAsync(item)">Kích hoạt</Button>
                }

                @if (item.ConfigurationType is { })
                {
                    <Button class="btn-secondary" @onclick="() => this._plugInController.ShowPlugInConfigAsync(item)"><span class="oi oi-cog" aria-hidden="true"></span></Button>
                }
            </td>
        </ItemTemplate>
        <TableFooter>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </TableFooter>
    </DataTable>
</div>

@code {
    
    private void OnPlugInPointSelected(ChangeEventArgs args)
    {
        if (args.Value is string guidString
            && Guid.TryParse(guidString, out var result))
        {
            this._plugInController.PointFilter = result;
        }
    }
}