@using MUnique.OpenMU.Web.AdminPanel.Services
@using MUnique.OpenMU.DataModel.Configuration

@if (this.Configuration is null)
{
    <span>Đang tải ...</span>
}
else
{
<EditForm Model="@Configuration" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <TextField Id="descriptionInput" Label="Mô tả" @bind-Value="@Configuration.Description"/>
    <NumberField Id="clientListenerPortInput" Label="Client listener port" @bind-Value="@Configuration.ClientListenerPort"/>
    <LookupField TObject=GameClientDefinition Label="Game Client" @bind-Value="@Configuration.GameClientDefinition"/>
    <div>
        <label htmlFor="patchVersionInput">Phiên bản vá</label>
        <div id="patchVersionInput">
            <div>
                <span id="major-addon">Vá lớn</span>
            </div>
            <InputNumber id="patchVersionMajorInput" @bind-Value=@this.Configuration.CurrentVersionMajor aria-describedby="major-addon"/>
            <ValidationMessage For="@(() => this.Configuration.CurrentVersionMajor)"/>
        </div>
        <div>
            <div>
                <span id="minor-addon">Vá nhỏ</span>
            </div>
            <InputNumber id="patchVersionMinorInput" @bind-Value=@this.Configuration.CurrentVersionMinor aria-describedby="minor-addon"/>
            <ValidationMessage For="@(() => this.Configuration.CurrentVersionMinor)"/>
        </div>
        <div>
            <div>
                <span id="patch-addon">Vá linh tinh</span>
            </div>
            <InputNumber id="patchVersionPatchInput" @bind-Value=@this.Configuration.CurrentVersionPatch aria-describedby="patch-addon"/>
            <ValidationMessage For="@(() => this.Configuration.CurrentVersionPatch)"/>
        </div>
    </div>
    <div>
        <label htmlFor="patchAddressInput">Địa chỉ vá</label>
        <div id="patchAddressInput">
            <div>
                <span id="ftp-addon">ftp://</span>
            </div>
            <InputText @bind-Value=@this.Configuration.PatchAddress aria-describedby="ftp-addon"/>
        </div>
    </div>
    <BooleanField Id="disconnectOnUnknownPacketInput" Label="Ngắt kết nối khi nhận gói không xác định" @bind-Value="@Configuration.DisconnectOnUnknownPacket"/>
    <NumberField Id="maximumReceiveSizeInput" Label="Kích thước gói tối đa" @bind-Value="@Configuration.MaximumReceiveSize"/>
    <div>
        <label htmlFor="maxConnectionsPerAddressInput">Kết nối tối đa mỗi địa chỉ</label>
        <div id="maxConnectionsPerAddressInput">
            <div>
                <span id="connections-addon">
                    <InputCheckbox id="checkMaxConnectionsPerAddressInput" @bind-Value=@this.Configuration.CheckMaxConnectionsPerAddress/>
                </span>
            </div>
            <InputNumber min="1" @bind-Value=@this.Configuration.MaxConnectionsPerAddress aria-describedby="connections-addon"/>
            <ValidationMessage For="@(() => this.Configuration.MaxConnectionsPerAddress)"/>
        </div>
    </div>
    <NumberField Id="maxConnectionsInput" Label="Kết nối tối đa" @bind-Value="@Configuration.MaxConnections"/>
    <NumberField Id="listenerBacklogInput" Label="Danh sách chờ lắng nghe" @bind-Value="@Configuration.ListenerBacklog"/>
    <NumberField Id="maxFtpRequestsInput" Label="Số yêu cầu ftp tối đa mỗi phiên" @bind-Value="@Configuration.MaxFtpRequests"/>
    <NumberField Id="maxIpRequestsInput" Label="Số yêu cầu địa chỉ tối đa mỗi phiên" @bind-Value="@Configuration.MaxIpRequests"/>
    <NumberField Id="maxServerListRequestsInput" Label="Số yêu cầu danh sách máy chủ tối đa mỗi phiên" @bind-Value="@Configuration.MaxServerListRequests"/>
    <NumberField Id="timeoutSecondsInput" Label="Thời gian chờ kết nối (giây)" @bind-Value="@Configuration.TimeoutSeconds"/>

    <ValidationSummary/>
    <div>
        <button type="submit" class="primary-button">Lưu</button>
        @if (this.OnCancel != null)
        {
            <button type="button" onClick=@this.OnCancel>Hủy</button>
        }
    </div>

</EditForm>
}