<div>
@if (this.SelectedVersion is null)
{
    <span>Đang tải ...</span>
}
else if (this.IsInstalling)
{
    <span>Đang cài đặt, vui lòng chờ ...</span>
}
else if (this.IsInstalled)
{
    <p>Hoàn thành! Chúc bạn vui vẻ :)</p>
    if (!AdminPanelEnvironment.IsHostingEmbedded)
    {
        <p>Vui lòng khởi động lại các container kết nối và máy chủ trò chơi.</p>
    }

    <button class="btn btn-primary" @onclick="async () => await this.InstallationFinished.InvokeAsync()">OK</button>
}
else
{
    if (this.CurrentConnections > 0)
    {
        <div class="alert alert-danger" role="alert">
            Trước tiên, hãy đóng tất cả các kết nối đến máy chủ.
        </div>
    }

    <p>
        <h2>Chọn phiên bản trò chơi</h2>

        <div>
        @foreach (var initializer in this.SetupService.Versions)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="version" id="@initializer.Key" @onclick="() => this.OnSelectVersion(initializer.Key)">
                <label class="form-check-label" for="@initializer.Key">@initializer.Caption</label>
            </div>
        }
        </div>
    </p>
    <p>
        <h2>Bạn muốn bao nhiêu máy chủ trò chơi?</h2>
        <div>
            <label for="gameServerCount" class="form-label">Số lượng máy chủ trò chơi (@this.GameServerCount)</label>
            <input type="range" class="form-range" min="1" max="10" value="@this.GameServerCount" id="gameServerCount" @oninput="this.OnGameServerCountChange">
        </div>
    </p>
    <p>
        <h2>Bạn có muốn tài khoản thử nghiệm không?</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="testAccountsCheck" @oninput="this.OnTestAccountsChange">
            <label class="form-check-label" for="testAccountsCheck">
                Có, tạo tài khoản thử nghiệm
            </label>
        </div>
    </p>

    <p>
        @if (this.CurrentConnections == 0)
        {
            <button class="btn btn-primary" @onclick="this.StartInstallationAsync">Bắt đầu cài đặt</button>
        }
        else
        {
            <button class="btn btn-primary disabled">Bắt đầu cài đặt</button>
        }
    </p>
}

</div>